# 4.10 Coding Etiquette & Excel Reporting

## This script contains the following points:

### 1. Import Libraries

### 2. Import Data

### 3. Data Security

### 4. Regional Segmentation of Data

#### 4.1 Question 3

### 5. Create Exclusion Flag

### 6. Export Data

# 1. Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

# 2. Import Data

In [2]:
# Creating path string to folder
path = r'C:\Users\Admin\Desktop\Instacart Basket Analysis'

In [3]:
# Importing ords_prods_customers df from csv
ords_prods_merge = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_customers.csv'))

In [4]:
# Check df
ords_prods_merge.shape

(16000000, 33)

In [5]:
ords_prods_merge.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,hour_order_placed,days_since_prior_order,product_id,add_to_cart_order,reordered,...,First Name,Surname,Gender,State,Age,date_joined,no_of_dependents,fam_status,income,_merge
0,0,2539329,1,1,2,8,NaN,196,1.0,0,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
1,1,2398795,1,2,3,7,15.0,196,1.0,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
2,2,473747,1,3,3,12,21.0,196,1.0,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
3,3,2254736,1,4,4,7,29.0,196,1.0,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
4,4,431534,1,5,4,15,28.0,196,1.0,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both

In [6]:
# Check columns
ords_prods_merge.columns

Index(['Unnamed: 0', 'order_id', 'user_id', 'order_number',
       'orders_day_of_week', 'hour_order_placed', 'days_since_prior_order',
       'product_id', 'add_to_cart_order', 'reordered', 'product_name',
       'aisle_id', 'department_id', 'prices', 'busiest_days',
       'busiest_period_of_day', 'max_order', 'loyalty_flag',
       'mean_product_price', 'spending_flag', 'median_days_since_prior_order',
       'frequency_flag', 'Unnamed: 0.1', 'First Name', 'Surname', 'Gender',
       'State', 'Age', 'date_joined', 'no_of_dependents', 'fam_status',
       'income', '_merge'],
      dtype='object')

In [7]:
# Drop 'Unnamed: 0','Unnamed: 0.1', '_merge' columns
ords_prods_merge = ords_prods_merge.drop(columns = ['Unnamed: 0','Unnamed: 0.1','_merge'])

In [8]:
# Check columns
ords_prods_merge.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'hour_order_placed', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', 'product_name', 'aisle_id',
       'department_id', 'prices', 'busiest_days', 'busiest_period_of_day',
       'max_order', 'loyalty_flag', 'mean_product_price', 'spending_flag',
       'median_days_since_prior_order', 'frequency_flag', 'First Name',
       'Surname', 'Gender', 'State', 'Age', 'date_joined', 'no_of_dependents',
       'fam_status', 'income'],
      dtype='object')

In [9]:
# Check dtypes of columns
ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16000000 entries, 0 to 15999999
Data columns (total 30 columns):
 #   Column                         Dtype
---  ------                         -----
 0   order_id                       int64
 1   user_id                        int64
 2   order_number                   int64
 3   orders_day_of_week             int64
 4   hour_order_placed              int64
 5   days_since_prior_order         float64
 6   product_id                     int64
 7   add_to_cart_order              float64
 8   reordered                      int64
 9   product_name                   object
 10  aisle_id                       int64
 11  department_id                  int64
 12  prices                         float64
 13  busiest_days                   object
 14  busiest_period_of_day          object
 15  max_order                      int64
 16  loyalty_flag                   object
 17  mean_product_price             float64
 18  spending_flag                  object
 19  median_days_since_prior_order  float64
 20  frequency_flag                 object
 21  First Name                     object
 22  Surname                        object
 23  Gender                         object
 24  State                          object
 25  Age                            int64
 26  date_joined                    object
 27  no_of_dependents               int64
 28  fam_status                     object
 29  income                         int64
dtypes: float64(5), int64(13), object(12)
memory usage: 3.6+ GB

In [10]:
# Change d types of 'order_id', 'user_id' and 'order_number' from int64 to str
ords_prods_merge['order_id'] = ords_prods_merge['order_id'].astype('str')

In [11]:
ords_prods_merge['user_id'] = ords_prods_merge['user_id'].astype('str')

In [12]:
ords_prods_merge['order_number'] = ords_prods_merge['order_number'].astype('str')

In [13]:
# Check data types of changed columns
ords_prods_merge['order_id'].dtype

dtype('O')

In [14]:
ords_prods_merge['user_id'].dtype

dtype('O')

In [15]:
ords_prods_merge['order_number'].dtype

dtype('O')

# 3. Data Security

In [16]:
# Drop 'First Name' and 'Surname' columns containing PII data
ords_prods_merge = ords_prods_merge.drop(columns = ['First Name','Surname'])

# 4. Regional Segmentation of Data

### 4.1 Question 3

In [17]:
# Check frequency of 'State' column
ords_prods_merge['State'].value_counts(dropna = False)

Georgia                 329497
California              328472
Pennsylvania            326450
Rhode Island            323507
Alaska                  322449
North Carolina          321621
Arizona                 321151
New Mexico              320851
Oklahoma                320781
Minnesota               320571
Massachusetts           319188
Wyoming                 319053
Kansas                  317426
Missouri                317418
Oregon                  317406
Alabama                 317359
Colorado                317341
Louisiana               316498
Mississippi             316006
Arkansas                315176
Maine                   314980
Virginia                314805
Illinois                314694
South Carolina          314442
North Dakota            314255
Nevada                  313816
New York                313269
Washington              313053
Delaware                312887
Texas                   312313
Montana                 312131
Michigan                312038
Hawaii                  311151
Florida                 311145
Connecticut             310834
Nebraska                310369
Kentucky                310262
Ohio                    310162
South Dakota            309472
New Jersey              309469
Indiana                 309373
Wisconsin               308398
Maryland                307990
Tennessee               307016
Iowa                    306216
Vermont                 304635
Utah                    304203
West Virginia           303778
New Hampshire           301159
District of Columbia    297406
Idaho                   296058
Name: State, dtype: int64

In [18]:
# Create loop to assign values to "Northeast", "Midwest", "South", "West" and store in object result

result = []

for value in ords_prods_merge['State']:
    if (value == 'Maine' or value == 'New Hampshire' or value == 'Vermont' or value == 'Massachusetts' or value == 'Rhode Island' or value == 'Connecticut' or value == 'New York' or value == 'Pennsylvania' or value == 'New Jersey'):
        result.append('Northeast')
        
    elif (value == 'Wisconsin' or value == 'Michigan' or value == 'Illinois' or value == 'Indiana' or value == 'Ohio' or value == "North Dakota" or value == 'South Dakota' or value == 'Nebraska' or value == 'Kansas' or value == 'Minnesota' or value == 'Iowa' or value == 'Missouri'):
        result.append('Midwest')
         
    elif (value == 'Delaware' or value == 'Maryland' or value == 'District of Columbia' or value == 'Virginia' or value == 'West Virginia' or value == 'North Carolina' or value == 'South Carolina' or value == 'Georgia' or value == 'Florida' or value == 'Kentucky' or value == 'Tennessee' or value == 'Mississippi' or value == 'Alabama' or value == 'Oklahoma' or value == 'Texas' or value == 'Arkansas' or value == 'Louisiana'):
        result.append('South')
        
    elif (value == 'Idaho' or value == 'Montana' or value == 'Wyoming' or value == 'Nevada' or value == 'Utah' or value == 'Colorado' or value == 'Arizona' or value =='New Mexico' or value == 'Alaska' or value == 'Washington' or value == 'Oregon' or value == 'California' or value == "Hawaii"):
        result.append('West')
        
    else:
        result.append('Error')

In [19]:
# Assign result to new column
ords_prods_merge['Region'] = result

In [20]:
# Check values of Region
ords_prods_merge['Region'].value_counts(dropna = False)

South        5328982
West         4097135
Midwest      3750392
Northeast    2823491
Name: Region, dtype: int64

In [28]:
# Create crosstab between 'Region' and 'spending_flag'
crosstab = pd.crosstab(ords_prods_merge['Region'], ords_prods_merge['spending_flag'], dropna = False)

In [29]:
# Copy crosstab to clipboard
crosstab.to_clipboard()

# 5. Create Exclusion Flag

In [21]:
# Use loc() function to create customer low activity flag based on maximum orders per user
ords_prods_merge.loc[ords_prods_merge['max_order'] < 5, 'low_activity_flag'] = 'Low activity customer'

In [22]:
# Use loc() function to create customer active flag based on maximum orders per user
ords_prods_merge.loc[ords_prods_merge['max_order'] >= 5, 'low_activity_flag'] = 'Active customer'

In [23]:
# Run frequency check on 'low_activity_flag'
ords_prods_merge['low_activity_flag'].value_counts(dropna = False)

Active customer          15329101
Low activity customer      670899
Name: low_activity_flag, dtype: int64

In [25]:
# Create subset containing customers flagged as 'Low activity customer'
df_low_activity_customer = ords_prods_merge[ords_prods_merge['low_activity_flag'] == 'Low activity customer']

In [26]:
# Create subset containing customers flagged as 'Active customer'
df_active_customer = ords_prods_merge[ords_prods_merge['low_activity_flag'] == 'Active customer']

# 6. Export Data

In [29]:
# Export 'low activity customer' sample
df_low_activity_customer.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'low_activity_customer_sample.csv'))

In [30]:
# Export 'Active customer' sample
df_active_customer.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'active_customer_sample.csv'))