# 4.10 Coding Etiquette & Excel Reporting

## This script contains the following points:

### 1. Import Libraries

### 2. Import Data

### 3. Optimise Data Types

### 4. Merge Data

### 5. Export Data

# 1. Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os

# 2. Import Data

In [2]:
# Creating path string to folder
path = r'C:\Users\Admin\Desktop\Instacart Basket Analysis'

In [5]:
# Importing diet_profile df from csv
diet_profile = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'diet_profile.csv'),dtype = {'user_id': str,'diet_profile':str})

In [6]:
# check df
diet_profile.shape

(162074, 2)

In [7]:
diet_profile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162074 entries, 0 to 162073
Data columns (total 2 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       162073 non-null  object
 1   diet_profile  162074 non-null  object
dtypes: object(2)
memory usage: 2.5+ MB

In [9]:
diet_profile.head()

  user_id     diet_profile
0       1       Vegetarian
1       2  Meat/Fish Eater
2       3       Vegetarian
3       4            Vegan
4       7  Meat/Fish Eater

In [10]:
# Importing active_customer_sample df from csv
active_customer = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'active_customer_profiles.csv'))

In [11]:
# Check df
active_customer.shape

(15329101, 34)

In [12]:
active_customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15329101 entries, 0 to 15329100
Data columns (total 34 columns):
 #   Column                         Dtype
---  ------                         -----
 0   Unnamed: 0                     int64
 1   order_id                       int64
 2   user_id                        int64
 3   order_number                   int64
 4   orders_day_of_week             int64
 5   hour_order_placed              int64
 6   days_since_prior_order         float64
 7   product_id                     int64
 8   add_to_cart_order              float64
 9   reordered                      int64
 10  product_name                   object
 11  aisle_id                       int64
 12  department_id                  int64
 13  prices                         float64
 14  busiest_days                   object
 15  busiest_period_of_day          object
 16  max_order                      int64
 17  loyalty_flag                   object
 18  mean_product_price             float64
 19  spending_flag                  object
 20  median_days_since_prior_order  float64
 21  frequency_flag                 object
 22  Gender                         object
 23  State                          object
 24  Age                            int64
 25  date_joined                    object
 26  no_of_dependents               int64
 27  fam_status                     object
 28  income                         int64
 29  Region                         object
 30  low_activity_flag              object
 31  customer_profile               object
 32  Purchasing Profile             object
 33  income_profile                 object
dtypes: float64(5), int64(14), object(15)
memory usage: 3.9+ GB

# 3. Optimise Data Types

In [13]:
# Change data type of user_id column to str in active_customer
active_customer['user_id'] = active_customer['user_id'].astype('str')

In [14]:
# Change data type of hour_order_placed column to int8
active_customer['hour_order_placed'] = active_customer['hour_order_placed'].astype('int8')

In [15]:
# Change data type of orders_day_of_week column to int8
active_customer['orders_day_of_week'] = active_customer['orders_day_of_week'].astype('int8')

In [16]:
# Change data type of days_since_prior_order column to float16
active_customer['days_since_prior_order'] = active_customer['days_since_prior_order'].astype('float16')

In [17]:
# Change data type of days_since_prior_order column to uint16
active_customer['product_id'] = active_customer['product_id'].astype('uint16')

In [18]:
# Change data type of add_to_cart_order column to float16
active_customer['add_to_cart_order'] = active_customer['add_to_cart_order'].astype('float16')

In [19]:
# Change data type of reordered column to int8
active_customer['reordered'] = active_customer['reordered'].astype('int8')

In [20]:
# Change data type of aisle_id column to int8
active_customer['aisle_id'] = active_customer['aisle_id'].astype('int8')

In [21]:
# Change data type of days_since_prior_order column to int8
active_customer['department_id'] = active_customer['department_id'].astype('int8')

In [22]:
# Change data type of prices column to float16
active_customer['prices'] = active_customer['prices'].astype('float16')

In [23]:
# Change data type of max_order column to uint8
active_customer['max_order'] = active_customer['max_order'].astype('uint8')

In [24]:
# Change data type of mean_product_price column to float16
active_customer['mean_product_price'] = active_customer['mean_product_price'].astype('float16')

In [25]:
# Change data type of median_days_since_prior_order column to float16
active_customer['median_days_since_prior_order'] = active_customer['median_days_since_prior_order'].astype('float16')

In [26]:
# Change data type of Age column to uint8
active_customer['Age'] = active_customer['Age'].astype('uint8')

In [27]:
# Change data type of no_of_dependents column to uint8
active_customer['no_of_dependents'] = active_customer['no_of_dependents'].astype('uint8')

In [28]:
# Change data type of income column to uint8
active_customer['income'] = active_customer['income'].astype('uint32')

# 4. Merge Data

In [29]:
# merge diet_profile with active_customer on 'user_id'
active_customer_profile = active_customer.merge(diet_profile, on = 'user_id', how = 'left', indicator = True)

In [30]:
# check df
active_customer_profile.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,hour_order_placed,days_since_prior_order,product_id,add_to_cart_order,reordered,...,no_of_dependents,fam_status,income,Region,low_activity_flag,customer_profile,Purchasing Profile,income_profile,diet_profile,_merge
0,0,2539329,1,1,2,8,NaN,196,1.0,0,...,3,married,40423,South,Active customer,Young Married with Kids,No Profile,Lower income,Vegetarian,both
1,1,2398795,1,2,3,7,15.0,196,1.0,1,...,3,married,40423,South,Active customer,Young Married with Kids,No Profile,Lower income,Vegetarian,both
2,2,473747,1,3,3,12,21.0,196,1.0,1,...,3,married,40423,South,Active customer,Young Married with Kids,No Profile,Lower income,Vegetarian,both
3,3,2254736,1,4,4,7,29.0,196,1.0,1,...,3,married,40423,South,Active customer,Young Married with Kids,No Profile,Lower income,Vegetarian,both
4,4,431534,1,5,4,15,28.0,196,1.0,1,...,3,married,40423,South,Active customer,Young Married with Kids,No Profile,Lower income,Vegetarian,both

In [31]:
# check frequency of diet_profile
active_customer_profile['diet_profile'].value_counts(dropna = False)

Meat/Fish Eater    8997358
Vegetarian         5913059
Vegan               418684
Name: diet_profile, dtype: int64

In [33]:
# Check data type of 'diet_profile'
active_customer_profile['diet_profile'].dtype

dtype('O')

# 5. Export Data

In [34]:
active_customer_profile.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'active_customer_diet_profiles.csv'))