# 4.9 Intro to Visualisation with Python

## This script contains the following points:

### 1. Import Libraries

### 2. Import Data

### 3. Optimise Data Types

### 4. Import Data for Merge

### 5. Merge Dataframes

### 6. Export Data

# 1. Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os

# 2. Import Data

In [2]:
# Creating path string to folder
path = r'C:\Users\Admin\Desktop\Instacart Basket Analysis'

In [3]:
# Importing ords_prods_merge_dtype df from csv file
ords_prods_merge_1 = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_subset.csv'))

# 3. Optimise Data Types

In [4]:
# Check Data Types of Df
ords_prods_merge_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16000000 entries, 0 to 15999999
Data columns (total 23 columns):
 #   Column                         Dtype
---  ------                         -----
 0   Unnamed: 0                     int64
 1   Unnamed: 0.1                   int64
 2   order_id                       int64
 3   user_id                        int64
 4   order_number                   int64
 5   orders_day_of_week             int64
 6   hour_order_placed              int64
 7   days_since_prior_order         float64
 8   product_id                     int64
 9   add_to_cart_order              int64
 10  reordered                      int64
 11  product_name                   object
 12  aisle_id                       int64
 13  department_id                  int64
 14  prices                         float64
 15  busiest_days                   object
 16  busiest_period_of_day          object
 17  max_order                      int64
 18  loyalty_flag                   object
 19  mean_product_price             float64
 20  spending_flag                  object
 21  median_days_since_prior_order  float64
 22  frequency_flag                 object
dtypes: float64(4), int64(13), object(6)
memory usage: 2.7+ GB

In [5]:
# Check df 
ords_prods_merge_1.shape

(16000000, 23)

In [6]:
# Check df 
ords_prods_merge_1.head()

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,order_number,orders_day_of_week,hour_order_placed,days_since_prior_order,product_id,add_to_cart_order,...,department_id,prices,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_product_price,spending_flag,median_days_since_prior_order,frequency_flag
0,0,0,2539329,1,1,2,8,NaN,196,1,...,7,9.0,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,1,1,2398795,1,2,3,7,15.0,196,1,...,7,9.0,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,2,2,473747,1,3,3,12,21.0,196,1,...,7,9.0,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,3,3,2254736,1,4,4,7,29.0,196,1,...,7,9.0,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,4,4,431534,1,5,4,15,28.0,196,1,...,7,9.0,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer

In [7]:
# Drop columns Unnamed: 0 and Unnamed: 0.1
ords_prods_merge_1 = ords_prods_merge_1.drop(columns = ['Unnamed: 0','Unnamed: 0.1'])

In [8]:
# Check df 
ords_prods_merge_1.head()

,order_id,user_id,order_number,orders_day_of_week,hour_order_placed,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,department_id,prices,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_product_price,spending_flag,median_days_since_prior_order,frequency_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,7,9.0,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,7,9.0,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,7,9.0,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,7,9.0,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,7,9.0,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer

In [9]:
# Change data type of order_id column to str
ords_prods_merge_1['order_id'] = ords_prods_merge_1['order_id'].astype('str')

In [10]:
# Change data type of user_id column to str
ords_prods_merge_1['user_id'] = ords_prods_merge_1['user_id'].astype('str')

In [11]:
# Change data type of order_number column to str
ords_prods_merge_1['order_number'] = ords_prods_merge_1['order_number'].astype('str')

In [12]:
# Change data type of hour_order_placed column to int8
ords_prods_merge_1['hour_order_placed'] = ords_prods_merge_1['hour_order_placed'].astype('int8')

In [13]:
# Change data type of days_since_prior_order column to float16
ords_prods_merge_1['days_since_prior_order'] = ords_prods_merge_1['days_since_prior_order'].astype('float16')

In [14]:
# Check max value
ords_prods_merge_1['product_id'].max()

49683

In [15]:
# Change data type of days_since_prior_order column to uint16
ords_prods_merge_1['product_id'] = ords_prods_merge_1['product_id'].astype('uint16')

In [16]:
# Explore add to cart order column
ords_prods_merge_1['add_to_cart_order'].describe()

count    1.600000e+07
mean     8.062659e+00
std      6.838307e+00
min     -1.280000e+02
25%      3.000000e+00
50%      6.000000e+00
75%      1.100000e+01
max      1.270000e+02
Name: add_to_cart_order, dtype: float64

In [17]:
ords_prods_merge_1['add_to_cart_order'].max()

127

In [18]:
# Change data type of add_to_cart_order column to float16
ords_prods_merge_1['add_to_cart_order'] = ords_prods_merge_1['add_to_cart_order'].astype('float16')

In [19]:
# Change data type of reordered column to int8
ords_prods_merge_1['reordered'] = ords_prods_merge_1['reordered'].astype('int8')

In [20]:
# Explore aisle_id column
ords_prods_merge_1['aisle_id'].max()

134

In [21]:
# Change data type of aisle_id column to int8
ords_prods_merge_1['aisle_id'] = ords_prods_merge_1['aisle_id'].astype('int8')

In [22]:
# Change data type of days_since_prior_order column to int8
ords_prods_merge_1['department_id'] = ords_prods_merge_1['department_id'].astype('int8')

In [23]:
# Explore prices column
ords_prods_merge_1['prices'].max()

24.7

In [24]:
# Change data type of prices column to float16
ords_prods_merge_1['prices'] = ords_prods_merge_1['prices'].astype('float16')

In [25]:
# Explore max_order column
ords_prods_merge_1['max_order'].max()

99

In [26]:
# Change data type of max_order column to uint8
ords_prods_merge_1['max_order'] = ords_prods_merge_1['max_order'].astype('uint8')

In [27]:
# Explore mean product price column
ords_prods_merge_1['mean_product_price'].max()

25005.425

In [28]:
# Explore mean_product_price order column
ords_prods_merge_1['mean_product_price'].describe()

count    1.600000e+07
mean     1.092749e+01
std      7.112992e+01
min      1.000000e+00
25%      7.421647e+00
50%      7.848848e+00
75%      8.271059e+00
max      2.500542e+04
Name: mean_product_price, dtype: float64

In [29]:
# Change data type of mean_product_price column to float16
ords_prods_merge_1['mean_product_price'] = ords_prods_merge_1['mean_product_price'].astype('float16')

In [30]:
# Change data type of median_days_since_prior_order column to float16
ords_prods_merge_1['median_days_since_prior_order'] = ords_prods_merge_1['median_days_since_prior_order'].astype('float16')

In [31]:
# Check df
ords_prods_merge_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16000000 entries, 0 to 15999999
Data columns (total 21 columns):
 #   Column                         Dtype
---  ------                         -----
 0   order_id                       object
 1   user_id                        object
 2   order_number                   object
 3   orders_day_of_week             int64
 4   hour_order_placed              int8
 5   days_since_prior_order         float16
 6   product_id                     uint16
 7   add_to_cart_order              float16
 8   reordered                      int8
 9   product_name                   object
 10  aisle_id                       int8
 11  department_id                  int8
 12  prices                         float16
 13  busiest_days                   object
 14  busiest_period_of_day          object
 15  max_order                      uint8
 16  loyalty_flag                   object
 17  mean_product_price             float16
 18  spending_flag                  object
 19  median_days_since_prior_order  float16
 20  frequency_flag                 object
dtypes: float16(5), int64(1), int8(4), object(9), uint16(1), uint8(1)
memory usage: 1.4+ GB

In [32]:
# Change data type of orders_day_of_week column to int8
ords_prods_merge_1['orders_day_of_week'] = ords_prods_merge_1['orders_day_of_week'].astype('int8')

In [32]:
# Check df
ords_prods_merge_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16000000 entries, 0 to 15999999
Data columns (total 22 columns):
 #   Column                         Dtype
---  ------                         -----
 0   Unnamed: 0                     int64
 1   order_id                       object
 2   user_id                        object
 3   order_number                   object
 4   orders_day_of_week             int8
 5   hour_order_placed              int8
 6   days_since_prior_order         float16
 7   product_id                     uint16
 8   add_to_cart_order              float16
 9   reordered                      int8
 10  product_name                   object
 11  aisle_id                       int8
 12  department_id                  int8
 13  prices                         float16
 14  busiest_days                   object
 15  busiest_period_of_day          object
 16  max_order                      uint8
 17  loyalty_flag                   object
 18  mean_product_price             float16
 19  spending_flag                  object
 20  median_days_since_prior_order  float16
 21  frequency_flag                 object
dtypes: float16(5), int64(1), int8(5), object(9), uint16(1), uint8(1)
memory usage: 1.5+ GB

# 4. Import Data for Merge

In [33]:
# Importing customers_clean df from csv file
customers = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'customers_clean.csv'))

In [34]:
# Check customers df
customers.shape

(206209, 11)

In [35]:
customers.head()

,Unnamed: 0,user_id,First Name,Surname,Gender,State,Age,date_joined,no_of_dependents,fam_status,income
0,0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [36]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        206209 non-null  int64
 1   user_id           206209 non-null  int64
 2   First Name        194950 non-null  object
 3   Surname           206209 non-null  object
 4   Gender            206209 non-null  object
 5   State             206209 non-null  object
 6   Age               206209 non-null  int64
 7   date_joined       206209 non-null  object
 8   no_of_dependents  206209 non-null  int64
 9   fam_status        206209 non-null  object
 10  income            206209 non-null  int64
dtypes: int64(5), object(6)
memory usage: 17.3+ MB

In [37]:
# Change data type of user_id column to str
customers['user_id'] = customers['user_id'].astype('str')

# 5. Merge Dataframes

In [38]:
# Merge customers and ords_prods_merge_1 dataframes to create df_combined_1
df_combined_1 = ords_prods_merge_1.merge(customers, on = 'user_id', indicator = True)

# 6. Export Dataframe

In [39]:
df_combined_1.to_csv(os.path.join(path,'02 Data','Prepared Data','ords_prods_customers.csv'))

In [40]:
# Check df
df_combined_1.head()

,order_id,user_id,order_number,orders_day_of_week,hour_order_placed,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,First Name,Surname,Gender,State,Age,date_joined,no_of_dependents,fam_status,income,_merge
0,2539329,1,1,2,8,NaN,196,1.0,0,Soda,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
1,2398795,1,2,3,7,15.0,196,1.0,1,Soda,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
2,473747,1,3,3,12,21.0,196,1.0,1,Soda,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
3,2254736,1,4,4,7,29.0,196,1.0,1,Soda,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
4,431534,1,5,4,15,28.0,196,1.0,1,Soda,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both

In [41]:
df_combined_1.shape

(16000000, 32)